header {
    position: static;
    display: grid;
    grid-template-areas: "title title"
                         "checkbox nav";
}

h1 {
    grid-area: title;
}

header > div {
    display: flex;
    flex-direction: row;
    grid-area: checkbox;
}

header > div input {
    appearance: unset;
    width: 12px;
    height: 12px;
    margin: auto 4px;
    border: 2px solid white;
    border-radius: 2px;
}

header > div input:checked {
    background-color: white;
}

header > div, #hamburger {
    padding-top: 5%;
}

#hamburger {
    grid-area: nav;
}

#hamburger a {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto auto;
}

#hamburger span {
    border: 2px solid white;
    border-radius: 120px;
    width: 18px;
}

#hamburger a > span {
    margin-bottom: 5px;
}

.to-do {
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
    width: 100%;
}

.check {
    appearance: unset;
    width: 20px;
    height: 20px;
    margin: auto 4px;
    border: 4px solid white;
    border-radius: 100px;
}

.check:checked {
    background-color: white;
}

.todo-title {
    background-color: unset;
    color: white;
    border: none;
    border-radius: 120px;
    padding-left: 2%;
}

.star, .bin {
    margin-right: 0;
}

.star-container {
    color: rgb(255, 255, 255);
    height: fit-content;
    margin-bottom: auto;
    margin-top: auto;
}

.star-container input {
    display: none;
}

.star-container span {
    line-height: 1.8rem;
    font-size: 1.8rem;
    filter: brightness(0.7);
    user-select: none;
}

.star-container span:hover {
    filter: brightness(0.9);
}

.star-container input:checked + span {
    filter: brightness(1);
    font-weight: 600;
}

.bin {
    margin-left: auto;
    background-color: inherit;
    border: none;
    width: fit-content;
    padding: 0;
}

.bin img {
    height: 60%;
    margin: auto;
    filter: brightness(0.7);
}

.bin img:hover {
    filter: brightness(1);
}

#add-todo {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-radius: 120px;
    background-color: rgb(19, 87, 53);
    font-size: 2rem;
    color: white;
}

#add-todo:hover {
    cursor: pointer;
    background-color: rgb(13, 59, 36);
}